/* == palette ==
dark bluegray #1a1b24
faded gold #CEC05A
pastel purp #AE68B0
*/

html {
  position: relative;
  min-height: 100%;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #1a1b24;
  font-family: 'Source Sans Pro', sans-serif;
  color: #CEC05A;
}

a {
  color: #CEC05A;
  font-size: 100%;
}

a:hover {
  color: #FFF;
}

h1 {
  color: white;
  font-weight: bold;
  font-size: 400%;
}

h2 {
  color: #CEC05A;
  font-weight:lighter;
  font-size:150%;
}

h5 {
  color: #1a1b24;
  font-size:150%;
}

h5 a{
  color: #1a1b24;
}

h5 a:hover{
  color: #hotpink;
}

img {
    width: 25%;
    height: auto;
    align-items: center;
    border-radius: 5px;
}

section {
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

p {
  font-size:1em;
}

section2 {
    background:blue;
    float:right;
    height:40px;
}

/* lines */
div.vertical-line{
    width: 2px; /* Line width */
    background-color: #AE68B0; /* Line color */
    height: 100%; /* Override in-line if you want specific height. */
    float: left; /* Causes the line to float to left of content.
      You can instead use position:absolute or display:inline-block
      if this fits better with your design */
    padding-right: 20px;
  }

div.horizontal-line{
      width: 100%;
      background-color: #AE68B0; /* Line color */
      height: 15px;
      float: left; /* Causes the line to float to left of content.
        You can instead use position:absolute or display:inline-block
        if this fits better with your design */
      padding-right: 0px;
    }
/* video header */

header {
  position: relative;
  background-color: #1a1b24;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 50%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://raw.githubusercontent.com/JUN1U5/worldminus/master/img/tvsnap.jpg') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

/* buttons */
button {
  display: inline-block;
  border-radius: 4px;
  background-color: #AE68B0;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb'; /* \1F334 */
  position: absolute;
  opacity: 0;
  top: 0;
  right:-20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* === new music section === */

.new {
  background-color: #1a1b24;
  color: #fff;
  text-align: center;
  margin-top: 50px;
	margin-bottom: 20px;
  padding:30px;
}

.new a{
  color: #CEC05A;
}

.new a:hover{
  color:#fff;
}

div.new i{
	font-size: 40px;
	padding: 20px;
  color: #AE68B0;
}

.new img{
    width: 100;
    height: 100;
    margin-bottom: 20px;
}

/* Color Wraps */
#white {
	margin-top: 0px;
	background-color: #ffffff;
	min-height: 300px;
	width: 100%;
}

#light {
  margin-top: 0px;
  background-color: #676A91;
  min-height: 300px;
  width: 100%;
}

.footer {
  position:relative;
  bottom: 0;
  height: 150px;
  background-color: #1a1b24;
  color: #CEC05A;
  font-size: 80%;
  padding-top: 30px;
}

#grad1 {
    height: 200px;
    background: #676A91; /* For browsers that do not support gradients */
    background: repeating-linear-gradient(#1a1b24, #1a1b24 10px, #676A91 10px, #2a2c2c 10px); /* Standard syntax (must be last) */
}

#grad2 {
position: relative;
padding-top:50px;
width:100%;
height:300px;
background:
  /* On "top" */
  repeating-linear-gradient(
    transparent,
    transparent 3px,
    #1a1b24 3px,
    #676A91 5px
  ),
  /* on "bottom" */
  linear-gradient(
    to bottom,
    #1a103d,
    #676A91
  );
}

#grad2 img {
  left: 0;
  bottom: 0;
  height: 300px;
  width: auto;
}

/* bootstrap */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }

/* responsive type */
@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

/*
.speech-bubble {
	background-image: url('../img/sky.gif');
	position: relative;
	border-radius: .4em;
  padding: 20px;
  width: 100%;
  height: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: #1a1b24;
  text-align: center;
  color: #fff;
  font-size:200%;
  display: table-cell;
  vertical-align: middle;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #1a1b24;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}

.speech-bubble a{
  color: #fff;
  font-size:100%;
}
*/

/* experimenting with boxes
.boxed {
  border: 2px double #BC5A4A ;
  border-radius: 1em;
  padding: 1em;
  position: absolute;
  top: 75%;
  left: 10%;
}

.boxed2 {
  border: 2px double #BC5A4A ;
  border-radius: 1em;
  padding: 1em;
  position: absolute;
  top: 75%;
  left: 10%;
}
/*
